{% extends "admin.html" %}

{% block content %}
    <h2>ExternalApi</h2>
        <form method="post" action="" style="padding-bottom:20px;">    
            <button type="submit" name="action" value="monitor_off">all Monitor OFF</button> <br> <br>
            <button type="submit" name="action" value="monitor_on">all Monitor ON</button> <br> <br>
            <button type="submit" name="action" value="close_expired_alarms">close expired alarms</button> <br> <br>
        </form>
        
    <br><br>
    
    {%- if mesg  %}
        {{ mesg }}
    {%- endif %}
{% endblock %}
